@font-face {
  font-family: 'Amatic SC Bold';
  src:
    local('AmaticSC-Bold'),
    url('@/assets/fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Amatic SC Regular';
  src:
    local('AmaticSC-Regular'),
    url('@/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}
