@import './base.css';

h1 {
    font-size: 4rem !important;
}

h2 {
    font-size: 2.5rem !important;
}

h3 {
    font-size: 2rem;
}

* {
    font-size: 1.3rem;
}

a:-webkit-any-link {
    color: white !important;
}
