@use "variables.scss";

@import './base.css';

h1 {
  font-size: 4rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2rem;
}

* {
  font-size: 1.3rem;
}

a:-webkit-any-link {
  color: white !important;
}
a {
  text-decoration-thickness: from-font !important;
}

a:hover {
  text-decoration-thickness: from-font !important;
}

.custom-v-form-bold {
  & .v-messages__message {
    font-weight: variables.$font-family-amatic-default-bold;
  }

  & .v-btn__content {
    font-weight: variables.$font-family-amatic-default-bold;
  }

  & .v-field-label {
    font-weight: variables.$font-family-amatic-default-bold;
  }

  & .v-field__input {
    font-weight: variables.$font-family-amatic-default-bold;
  }
}

.v-card--disabled.custom-v-card-loader-full-loading {
  & .v-card__loader {
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #15151591;
  }
}
