$font-family-amatic: 'Amatic SC Regular', sans-serif;
$font-family-amatic-default-bold: 800 !important;
$font-family-comforter: 'Comforter Brush Regular', sans-serif;

// Для высокоуровневых экранов, таких как Retina:
// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { ... }
